.localisationListItem {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1rem;
	padding: 0.5rem 0;
	border-bottom: 0.1rem solid var(--color-cold-white);
}

.localisationListItem:last-child {
	border-bottom: none;
}

.skuList {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 1rem;
}

.localisationTitle {
	align-self: center;
	color: var(--color-blue);
}

@media (max-width: 768px) {
	.localisationListItem {
		flex-direction: column;
	}

	.skuList {
		flex-direction: column;
	}
}