.addSkuForm {
	background-color: white;
	color: var(--color-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 0.375rem;
	filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
		drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
	transition: all 0.3s ease;
	padding: 1rem;
}

.addBtn {
	cursor: pointer;
}

.skuInput {
	width: 90%;
	margin: 0.5rem 1rem;
}

.skuFormBtns {
	display: flex;
	width: 100%;
	gap: 0.5rem; /* Reduce gap between smaller buttons */
	justify-content: center; /* Center the buttons */
}

.skuFormBtn {
    border: none;
    width: 1.2rem; /* Reduced size */
    height: 1.2rem; /* Reduced size */
    transition: background-color 0.2s ease, transform 0.2s ease;
    cursor: pointer;
    color: #fff;
    border-radius: 50%; /* Circular button */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem; /* Adjusted font size for smaller button */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.okBtn {
	background-color: #2f6feb;
}

.okBtn:hover{
	background-color: #47eb2f;
}

.xBtn {
	background-color: #EB4C2F;
}

.xBtn {
	background-color: #ff5a3c;
}

.addSkuParagraph{
	color: gray;
	margin: 0 0.5rem ;
}