.warehouseTitle {
	margin-bottom: 1rem;
	font-family: var(--font-geist-sans);
}



.loading {
	text-align: center;
	animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
	0% {
		color: var(--color-blue);
	}
	50% {
		color: var(--color-cold-white);
	}
	100% {
		color: var(--color-blue);
	}
}