.firstContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sideNavContainer {
    width: 100%;
    flex: none;
}

.secondContainer {
    flex-grow: 1;
    padding: 1.5rem;

}

@media (min-width: 768px) {
    .firstContainer {
        flex-direction: row;
        overflow: hidden;
    }

    .sideNavContainer{
        width: 16rem;
    }

    .secondContainer {
        overflow-y: auto;
        padding: 3rem;
    }
}